@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
::-webkit-scrollbar {
  display: none;
}
/* ::-webkit-scrollbar{
  width: 2px;
}

::-webkit-scrollbar-track{
  background: red;
}

::-webkit-scrollbar-thumb{
  background: blue;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background: rgb(91, 91, 180);
} */